@media(max-width:1001px){
	.content-main img{max-width:100%;height:auto!important;}
	.footer__info img{display:block;margin:auto}
	.footer__info{text-align:center}
	.mxh_top{justify-content:center}
	.footer__baiviet{text-align:center}
	.spDesktopItem{gap:5px;min-height:auto;filter:drop-shadow(0 0 5px rgba(0,0,0,0.15))}
	.spDesktopItemtitle1{font-size:17px}
	.spDesktopItemtitle2title{font-size:14px}
	.spDesktopItemtitle2title2{font-size:14px;padding:0 5px}
	.spDesktopItemtitle3{font-size:14px}
	.spDesktopItemtitle4{font-size:14px}
	.spDesktopItemtitle5 a:nth-child(1){width:auto;margin:0 auto;padding:0 25px}
	.spDesktop{grid-template-columns:1fr 1fr;gap:15px;margin:15px 0!important}
	.spnbDesktopOwl{grid-template-columns:1fr 1fr;gap:15px;margin:15px 0!important}
	.gioithieuDesktop{margin:20px 0}
	.gioithieutitle{font-size:17px}
	.gioithieutitle2{font-size:14px}
	.gioithieuDesktoptitle{font-size:17px}
	.menu{display:none}
	.menu-res{display:block}
	.container{max-width:100%!important;padding:0 15px!important}
	.breadCrumbs .wrap-content{padding:1rem}
	.breadcrumb{flex-wrap:wrap;font-size:11px}
	.empty-cart{width:100%;padding:0}
	.empty-cart svg{width:100%;max-width:70%}
	.header .container{min-height:unset}
	.logo img{max-height:70px}
	.logo{padding:5px 0}
	.mangxahoi1 a{font-size:10px}
	.mangxahoi1 a img{max-width:24px}
	.mangxahoi1{gap:15px}
	.indexSpace{padding:25px 0}
	.bannerqc{display:none}
	.spnbRight{width:100%}
	.spnbTitle p{font-size:24px}
	.owl-theme .owl-nav{display:none}
	.price-product .price-new{font-size:13px}
	.spdmTitle p{font-size:24px}
	.gapProductParents{gap:15px}
	.price-product{height:auto;gap:5px}
	.price-product span{font-size:13px;padding:0}
	.price-per{margin:0;position:absolute;top:5px;right:5px;z-index:2;font-size:16px!important;padding-left:5px!important}
	.gapProduct h3{font-size:13px}
	.ykienItemNd{font-size:13px;line-height:24px}
	.ykienItemName p{font-size:17px}
	.ykienItemName span{font-size:13px}
	.videoTop2Parents{margin:0;padding:10px}
	.indexVideoNewsItemsTitle{font-size:24px}
	.tinnbBox1a{display:none!important}
	.footer{visibility:visible}
	.footer-bottom{padding:25px 0}
	.footer__title2{font-size:17px}
	.footer__fanpage{width:100%}
	.blog-item-thumbnail h3{font-size:13px}
	.mapContact{padding-bottom:100%}
	.title-main span{font-size:17px}
}
@media(max-width:850px){
	.news{width:100%;float:none!important}
}
@media(max-width:769px){
	.top-contact{flex-wrap:wrap}
	.left-pro-detail,.right-pro-detail,.top-contact .form-contact,.top-contact .article-contact{width:100%;margin:0px}
	.left-pro-detail,.top-contact .article-contact{margin-bottom:30px}
}
@media(max-width:440px){
	.pic-news,.info-news{display:block;width:100%;float:none;text-align:center;margin:0px}
	.info-news{margin-top:15px}
	.top-contact .form-contact .button-contact .file-contact span b{max-width:105px}
}
@media(max-width:369px){
	.cart-pro-detail{flex-wrap:wrap}
	.cart-pro-detail a{width:100%;text-align:center;margin:0px!important;font-size:12px}
	.cart-pro-detail a:first-child{margin-bottom:5px!important}
	.cart-pro-detail a i{display:none}
}
